'context-menu':
  '.commit-live-terminal': [
    {
      'label': 'Copy'
      'command': 'commit-live:copy'
    }
    {
      'label': 'Paste'
      'command': 'commit-live:paste'
    }
    {
      'label': 'Hide Commit Live Terminal'
      'command': 'commit-live:toggle-terminal'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Commit Live'
      'submenu': [
        {
          'label': 'Toggle File Tree'
          'command': 'commit-live-tree-view:toggle'
        }
        {
          'label': 'Toggle Terminal'
          'command': 'commit-live:toggle-terminal'
        }
        {
          'label': 'Go to Dashboard'
          'command': 'commit-live:toggle-dashboard'
        }
        {
          'label': 'Log Out'
          'command': 'commit-live:log-in-out'
        }
      ]
    ]
  }
]
