'.platform-darwin':
  'cmd-i': 'commit-live:toggle-terminal'
  'cmd-;': 'commit-live:toggle-focus'

'.platform-darwin .learn-terminal':
  'cmd-c': 'commit-live:copy'
  'cmd-v': 'commit-live:paste'
  'cmd-=': 'commit-live:increase-font-size'
  'cmd--': 'commit-live:decrease-font-size'
  'cmd-0': 'commit-live:reset-font-size'

'.platform-win32 .learn-terminal':
  # TODO: make these work & remove listeners in TerminalView
  # 'ctrl-shift-C': 'commit-live:copy'
  # 'ctrl-shift-V': 'commit-live:paste'
  'ctrl-+': 'commit-live:increase-font-size'
  'ctrl-_': 'commit-live:decrease-font-size'
  'ctrl-0': 'commit-live:reset-font-size'

'.platform-win32, .platform-linux':
  'ctrl-i': 'commit-live:toggle-terminal'