'.platform-darwin':
  'cmd-i': 'greyatom-ide:toggle-terminal'
  'cmd-;': 'greyatom-ide:toggle-focus'

'.platform-darwin .learn-terminal':
  'cmd-c': 'greyatom-ide:copy'
  'cmd-v': 'greyatom-ide:paste'
  'cmd-=': 'greyatom-ide:increase-font-size'
  'cmd--': 'greyatom-ide:decrease-font-size'
  'cmd-0': 'greyatom-ide:reset-font-size'

'.platform-win32 .learn-terminal':
  # TODO: make these work & remove listeners in TerminalView
  # 'ctrl-shift-C': 'greyatom-ide:copy'
  # 'ctrl-shift-V': 'greyatom-ide:paste'
  'ctrl-+': 'greyatom-ide:increase-font-size'
  'ctrl-_': 'greyatom-ide:decrease-font-size'
  'ctrl-0': 'greyatom-ide:reset-font-size'
